body {
  height: 100vh;
  background: rgba(50, 10, 100, 0.85);
  font-weight: 300;
  letter-spacing: 1.2px;
}

.App {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
}
.header {
  font-size: 3.2em;
  max-width: 100%;
  color: rgba(250, 250, 50, 0.9);
}
.header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.header .header-sub {
  padding-bottom: 0;
}
.header .header-current {
  font-size: 0.5em;
  margin-bottom: 50px;
}
.projects {

}
h3 {
  font-size: 1.5em;
  color: rgba(250, 250, 50, 0.9);
  margin: 0;
  padding: 0;
  letter-spacing: 1.75px;
}

li {
  padding: 10px 0;
  font-size: 1.2em;
  color: rgba(250, 250, 50, 0.9);
  list-style: none;
}
a {
  text-decoration: none;
  color: rgba(250, 250, 50, 0.9);
}
.projects li {
  width: 100%;
  height: 300px;
  border: solid 1px;
}

.projects li:nth-child(1){
  background: url('/assets/stipe.png');
  background-position: center;
  background-size: cover;
}
.projects li:nth-child(2){
  background: url('/assets/barzurk.png');
  background-position: center;
  background-size: cover;
}
